:root {
  --primary-color :#151720;
  --secondary-color: #594AE3;
  --background-color: rgb(36,35,37);
  --font-family: 'Kanit','Arial, sans-serif';
  --heading-font-family: 'Kanit','Arial', 'sans-serif';
}

/* Apply global styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgb(21,23,32);
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h1 {
  color: #594AE3;
}

p {
  color: white;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  cursor: pointer;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
}

li:hover {
  background-color: #594AE3;
}

button {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  li {
    margin: 0.5rem 0;
  }
}
